/* src/pages/Home.module.css */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

/* Card Container */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: start;
}

/* Card Styling */
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card Icon */
.cardIcon {
  margin-bottom: 15px;
}

.icon {
  width: 50px;
  height: 50px;
  fill: #555;
}

/* Card Title */
.cardTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

/* Card Description */
.cardDescription {
  font-size: 1rem;
  color: #555;
}


/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .profileLinks a {
    font-size: 0.9rem;
  }

  .card {
    width: 150px;
    height: 225px;
  }

  .cardBack {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .profileLinks {
    flex-direction: column;
    gap: 0.5rem;
  }

  .card {
    width: 120px;
    height: 180px;
  }

  .cardBack {
    font-size: 0.7rem;
  }
}
